apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: docker.io/velero/velero-plugin-for-gcp
  newTag: v1.13.2
  digest: sha256:78cb08a95cc2cc6bd0133028005971b47fc5283d919d3c13973d74d261df8213
resources:
- ../base/crds
- ../base/resources
patches:
- path: patches/velero.yaml
