apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: rbac-manager
namespace: rbac-manager-system
images:
- name: quay.io/reactiveops/rbac-manager
  newTag: v1.9.5
  digest: sha256:87e3f461446f5f7b4cd8d2fcd5014a98e827963796725b9fc90c992b05631e61
resources:
- configs
- rbac
- workloads
