apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: oidc-proxy-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: oidc-proxy
images:
- name: docker.io/tremolosecurity/kube-oidc-proxy
  newTag: 1.0.9-0ecd53
  digest: sha256:8f44becfcc93aa53158772d431e6fc6847b651c285a15a57f87c2aa1f5de7f8f
- name: registry.k8s.io/ingress-nginx/kube-webhook-certgen
  newTag: v1.6.2
  digest: sha256:050a34002d5bb4966849c880c56c91f5320372564245733b33d4b3461b4dbd24
resources:
- configs
- rbac
- workloads
