apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-system
openapi:
  path: swagger.json
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: ingress-controller
images:
- name: docker.io/library/traefik
  newTag: v3.5.6
  digest: sha256:16acb89c6db341182970d6fdafece31303b0a380a8ed7aa51682e225229bf1d2
resources:
- configs
- rbac
- workloads
