apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-system
openapi:
  path: swagger.json
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: ingress-controller
images:
- name: docker.io/library/traefik
  newTag: v3.6.6
  digest: sha256:82d3d16dde0474a51fef00b28de143d48b67f7a27453224d5e7b5aaefff26a97
resources:
- configs
- rbac
- workloads
