apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
namespace: oidc-proxy-system
images:
- name: ghcr.io/dexidp/dex
  newTag: v2.44.0
  digest: sha256:5d0656fce7d453c0e3b2706abf40c0d0ce5b371fb0b73b3cf714d05f35fa5f86
- name: registry.k8s.io/ingress-nginx/kube-webhook-certgen
  newTag: v1.6.5
  digest: sha256:03a00eb0e255e8a25fa49926c24cde0f7e12e8d072c445cdf5136ec78b546285
resources:
- workloads
secretGenerator:
- literals:
  - oidc.client-id=ZXhhbXBsZS1hcHAtc2VjcmV0
  - oidc.issuer-url=https://dex.oidc-proxy-system.svc:11282
  - oidc.username-claim=email
  - oidc.groups-claim=groups
  name: oidc-config
patches:
- path: patches/oidc-proxy.yaml
replacements:
- source:
    fieldPath: spec.selector
    kind: Deployment
    name: oidc-proxy
  targets:
  - fieldPaths:
    - spec.ingress.0.from.0.podSelector
    options:
      create: true
    select:
      kind: NetworkPolicy
      name: allow-dex
  - fieldPaths:
    - spec.podSelector
    options:
      create: true
    select:
      kind: NetworkPolicy
      name: allow-oidc-proxy-dex
