apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: monitoring
images:
- name: quay.io/prometheus-operator/prometheus-operator
  newTag: v0.87.1
  digest: sha256:6dbbbbeca6d7b94aa30723bfaa55262e41b9f8c15304c484611c696503840aac
- name: quay.io/prometheus-operator/prometheus-config-reloader
  newTag: v0.87.1
  digest: sha256:257ce3543e8f45c059dab488bcf897d8cc598cabd78afba12f41d6dbe36e22d2
- name: quay.io/prometheus-operator/admission-webhook
  newTag: v0.87.1
  digest: sha256:80a44a139154e32236f1e272de1981e9fb379b6ab638060f18ada00df092972d
- name: registry.k8s.io/ingress-nginx/kube-webhook-certgen
  newTag: v1.6.5
  digest: sha256:03a00eb0e255e8a25fa49926c24cde0f7e12e8d072c445cdf5136ec78b546285
- name: quay.io/prometheus/node-exporter
  newTag: v1.10.2
  digest: sha256:337ff1d356b68d39cef853e8c6345de11ce7556bb34cda8bd205bcf2ed30b565
- name: registry.k8s.io/kube-state-metrics/kube-state-metrics
  newTag: v2.17.0
  digest: sha256:2bbc915567334b13632bf62c0a97084aff72a36e13c4dabd5f2f11c898c5bacd
resources:
- configs
- rbac
- workloads
