apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: docker.io/velero/velero-plugin-for-microsoft-azure
  newTag: v1.13.2
  digest: sha256:75faa6c73b1efcac90cf03ccb3efd202da02737be8fdb204f31431444f782b9e
resources:
- ../base/crds
- ../base/resources
patches:
- path: patches/velero.yaml
