apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: docker.io/velero/velero-plugin-for-microsoft-azure
  newTag: v1.13.1
  digest: sha256:28ddbcbed8dfb7c901cff5ff5e97ca1e90a83b06cc80d1c069f01a6ab276e2da
resources:
- ../base/crds
- ../base/resources
patches:
- path: patches/velero.yaml
