apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/instance: cilium
    app.kubernetes.io/name: cilium
configMapGenerator:
- envs:
  - ./configmap.env
  name: cilium-config
  options:
    disableNameSuffixHash: true
- files:
  - ./bootstrap-config.json
  name: cilium-envoy-config
  options:
    disableNameSuffixHash: true
