apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-green-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: kube-green
images:
- name: ghcr.io/kube-green/kube-green
  newTag: 0.7.1
  digest: sha256:2dc0f0a6034cfb32bd442ad5d28cc7ead80fb16e5b0387cac9f9dc8509bfcc09
- name: registry.k8s.io/ingress-nginx/kube-webhook-certgen
  newTag: v1.6.5
  digest: sha256:03a00eb0e255e8a25fa49926c24cde0f7e12e8d072c445cdf5136ec78b546285
resources:
- configs
- rbac
- workloads
