apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: cni
images:
- name: quay.io/cilium/cilium
  newTag: v1.18.6
  digest: sha256:42ec562a5ff6c8a860c0639f5a7611685e253fd9eb2d2fcdade693724c9166a4
- name: quay.io/cilium/cilium-envoy
  newTag: v1.35.9-1767794330-db497dd19e346b39d81d7b5c0dedf6c812bcc5c9
  digest: sha256:81398e449f2d3d0a6a70527e4f641aaa685d3156bea0bb30712fae3fd8822b86
- name: quay.io/cilium/operator-generic
  newTag: v1.18.6
  digest: sha256:34a827ce9ed021c8adf8f0feca131f53b3c54a3ef529053d871d0347ec4d69af
- name: quay.io/cilium/hubble-relay
  newTag: v1.18.6
  digest: sha256:fb6135e34c31e5f175cb5e75f86cea52ef2ff12b49bcefb7088ed93f5009eb8e
- name: quay.io/cilium/hubble-ui
  newTag: v0.13.3
  digest: sha256:661d5de7050182d495c6497ff0b007a7a1e379648e60830dd68c4d78ae21761d
- name: quay.io/cilium/hubble-ui-backend
  newTag: v0.13.3
  digest: sha256:db1454e45dc39ca41fbf7cad31eec95d99e5b9949c39daaad0fa81ef29d56953
- name: quay.io/cilium/certgen
  newTag: v0.3.1
  digest: sha256:2825dbfa6f89cbed882fd1d81e46a56c087e35885825139923aa29eb8aec47a9
resources:
- configs
- rbac
- workloads
