apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: cni
images:
- name: quay.io/cilium/cilium
  newTag: v1.18.3
  digest: sha256:5649db451c88d928ea585514746d50d91e6210801b300c897283ea319d68de15
- name: quay.io/cilium/operator-generic
  newTag: v1.18.3
  digest: sha256:b5a0138e1a38e4437c5215257ff4e35373619501f4877dbaf92c89ecfad81797
- name: quay.io/cilium/hubble-relay
  newTag: v1.18.3
  digest: sha256:e53e00c47fe4ffb9c086bad0c1c77f23cb968be4385881160683d9e15aa34dc3
- name: quay.io/cilium/hubble-ui
  newTag: v0.13.3
  digest: sha256:661d5de7050182d495c6497ff0b007a7a1e379648e60830dd68c4d78ae21761d
- name: quay.io/cilium/hubble-ui-backend
  newTag: v0.13.3
  digest: sha256:db1454e45dc39ca41fbf7cad31eec95d99e5b9949c39daaad0fa81ef29d56953
- name: quay.io/cilium/certgen
  newTag: v0.2.4
  digest: sha256:de7b97b1d19a34b674d0c4bc1da4db999f04ae355923a9a994ac3a81e1a1b5ff
resources:
- configs
- rbac
- workloads
