apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: cni
images:
- name: quay.io/cilium/cilium
  newTag: v1.18.4
  digest: sha256:49d87af187eeeb9e9e3ec2bc6bd372261a0b5cb2d845659463ba7cc10fe9e45f
- name: quay.io/cilium/operator-generic
  newTag: v1.18.4
  digest: sha256:1b22b9ff28affdf574378a70dade4ef835b00b080c2ee2418530809dd62c3012
- name: quay.io/cilium/hubble-relay
  newTag: v1.18.4
  digest: sha256:6d350cb1c84b847adb152173debef1f774126c69de21a5921a1e6a23b8779723
- name: quay.io/cilium/hubble-ui
  newTag: v0.13.3
  digest: sha256:661d5de7050182d495c6497ff0b007a7a1e379648e60830dd68c4d78ae21761d
- name: quay.io/cilium/hubble-ui-backend
  newTag: v0.13.3
  digest: sha256:db1454e45dc39ca41fbf7cad31eec95d99e5b9949c39daaad0fa81ef29d56953
- name: quay.io/cilium/certgen
  newTag: v0.2.4
  digest: sha256:de7b97b1d19a34b674d0c4bc1da4db999f04ae355923a9a994ac3a81e1a1b5ff
resources:
- configs
- rbac
- workloads
