apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: logging-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: logging
images:
- name: ghcr.io/kube-logging/logging-operator
  newTag: 6.3.2
  digest: sha256:2e2986e075e74bedb5e3f06c6fdd846854b412ab6d8074e449e5f30363429f47
resources:
- configs
- rbac
- workloads
