apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
images:
- name: docker.io/minio/minio
  newTag: RELEASE.2025-09-07T16-13-09Z
  digest: sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
- name: docker.io/minio/mc
  newTag: RELEASE.2025-08-13T08-35-41Z
  digest: sha256:a7fe349ef4bd8521fb8497f55c6042871b2ae640607cf99d9bede5e9bdf11727
- name: docker.io/velero/velero-plugin-for-aws
  newTag: v1.13.1
  digest: sha256:472d0e486d5d5c23c782b1b123530c7df8645784523ec36ca661a326d47885ff
resources:
- workloads
patches:
- path: patches/velero.yaml
- path: patches/serviceaccount.yaml
secretGenerator:
- files:
  - workloads/configs/cloud-credentials
  name: cloud-credentials
  type: Opaque
replacements:
- source:
    fieldPath: metadata.namespace
    kind: Deployment
    name: velero
  targets:
  - fieldPaths:
    - metadata.namespace
    options:
      create: true
    select:
      labelSelector: app.kubernetes.io/name=minio
  - fieldPaths:
    - metadata.namespace
    options:
      create: true
    select:
      kind: Secret
      name: cloud-credentials
- source:
    fieldPath: spec.selector.matchLabels
    kind: Deployment
    name: velero
  targets:
  - fieldPaths:
    - spec.ingress.1.from.0.podSelector.matchLabels
    options:
      create: true
    select:
      kind: NetworkPolicy
      name: allow-minio
  - fieldPaths:
    - spec.podSelector.matchLabels
    options:
      create: true
    select:
      kind: NetworkPolicy
      name: allow-velero-minio-egress
