kind: ClustersConfiguration
apiVersion: vab.mia-platform.eu/v1alpha1
name: eks-installation
spec:
  modules:
    cni/cilium/eks:
      version: v1.34.1
    disaster-recovery/velero/base:
      version: v1.34.1
    ingress/traefik/eks:
      version: v1.34.1
    observability/logging-operator/base:
      version: v1.34.1
    observability/metrics-server/base:
      version: v1.34.0
    observability/prometheus-operator/base:
      version: v1.34.0
    scheduling/kube-green/base:
      version: v1.34.0
    security/cert-manager/base:
      version: v1.34.0
    security/kyverno/base:
      version: v1.34.2
    security/rbac-manager/base:
      version: v1.34.0
  addOns:
    cert-manager/kube-green-webhook-certificate:
      version: v1.0.2
    cert-manager/prometheus-operator-webhook-certificate:
      version: v2.0.2
    logging-operator/logging-stack:
      version: v2.1.0
    prometheus-operator/cert-manager:
      version: v2.0.0
    prometheus-operator/kube-green:
      version: v1.0.5
    prometheus-operator/kyverno:
      version: v2.0.3
    prometheus-operator/logging-operator:
      version: v1.0.3
    prometheus-operator/logging-stack:
      version: v2.0.3
    prometheus-operator/monitoring-stack:
      version: v2.7.0
    prometheus-operator/rbac-manager:
      version: v1.0.4
    prometheus-operator/traefik:
      version: v1.0.3
    prometheus-operator/velero:
      version: v1.0.3
  groups:
  - name: eks-installation
    clusters:
    - name: eks-installation
      context: eks-installation
