apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: kyverno
namespace: kyverno-system
images:
- name: ghcr.io/kyverno/kyverno
  newTag: v1.16.2
  digest: sha256:b0c123d62a1b8e21da707450ef44c4616832434f919d1cd19cfdbe2836277699
- name: ghcr.io/kyverno/kyvernopre
  newTag: v1.16.2
  digest: sha256:ba3a31b25a9e1c6f993d7555158396d87790445ddc785426c249e8320b94b02a
- name: ghcr.io/kyverno/background-controller
  newTag: v1.16.2
  digest: sha256:736c5da855863a3b15ee0e272f5b9e72c3c1b2f221f8345664354f57a5dc0f25
- name: ghcr.io/kyverno/cleanup-controller
  newTag: v1.16.2
  digest: sha256:1bf6d0501d7f16aa5d36821f907287d8653564c642866c4b597f2e6abc527390
- name: ghcr.io/kyverno/reports-controller
  newTag: v1.16.2
  digest: sha256:88d0dfc245a689e9bf3e258159b539f3a1b1a5a89f82b6a07c12762527bb7793
resources:
- configs
- rbac
- workloads
