apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: kyverno
namespace: kyverno-system
images:
- name: ghcr.io/kyverno/kyverno
  newTag: v1.16.1
  digest: sha256:8d78ccacaf2f961e6be1fceec658f34b7f3410ac24822f0d12812bdb022b355f
- name: ghcr.io/kyverno/kyvernopre
  newTag: v1.16.1
  digest: sha256:e9b3a40f8da712abeb1d3896dac7af6d81a96284036d73a214e15d2c5e0f0e09
- name: ghcr.io/kyverno/background-controller
  newTag: v1.16.1
  digest: sha256:1243c89f8d0e1ac3194c380e31571236af49aec531251bc724f1e5c51de57feb
- name: ghcr.io/kyverno/cleanup-controller
  newTag: v1.16.1
  digest: sha256:69e1e6abf5f8ab1f015a1f185b1016b189c7a1713791dd662ad2c7e610b6f359
- name: ghcr.io/kyverno/reports-controller
  newTag: v1.16.1
  digest: sha256:84291952cc15b3968c29a8a91370d6e8a4b9749136427c1f1be6a03f42703c6a
resources:
- configs
- rbac
- workloads
