apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dr-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: disaster-recovery
images:
- name: docker.io/velero/velero
  newTag: v1.17.2
  digest: sha256:9eb627afb0462e67e5462f521699d5542d05588f067cadec01d2f7e5505be991
resources:
- configs
- rbac
- workloads
