apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dr-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: disaster-recovery
images:
- name: docker.io/velero/velero
  newTag: v1.17.1
  digest: sha256:58f551f0d89a9ef1919771bdc7475c08bc1795a50a51a57b5f14316d68fc3baa
resources:
- configs
- rbac
- workloads
