apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: cert-manager
images:
- name: quay.io/jetstack/cert-manager-cainjector
  newTag: v1.19.2
  digest: sha256:1a24f9848e7ae83a787187f4e75fdf5e9adf401f44de2f156c09c6fae1bf046e
- name: quay.io/jetstack/cert-manager-controller
  newTag: v1.19.2
  digest: sha256:d4ffb81a6d89a0e690ee80d07fcdcb6cccb99118010e3eb0808442e506e18ab0
- name: quay.io/jetstack/cert-manager-webhook
  newTag: v1.19.2
  digest: sha256:2ba4918d1581ed29bd5d68a017244560b353bcaf9932c814a8713887589bda6c
- name: quay.io/jetstack/cert-manager-acmesolver
  newTag: v1.19.2
  digest: sha256:cd353aa4ad8ec5dbcc64f454599611c8201a2b23f67720978140800999129b62
resources:
- configs
- rbac
- workloads
replacements:
- source:
    fieldPath: metadata.namespace
    kind: Deployment
    name: cert-manager-webhook
  targets:
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
    select:
      kind: ValidatingWebhookConfiguration
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
    select:
      kind: MutatingWebhookConfiguration
- source:
    fieldPath: spec.template.spec.containers.[name=webhook].env.[name=SECRET_NAME].value
    kind: Deployment
    name: cert-manager-webhook
  targets:
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
      index: 1
    select:
      kind: ValidatingWebhookConfiguration
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
      index: 1
    select:
      kind: MutatingWebhookConfiguration
