apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: cert-manager
images:
- name: quay.io/jetstack/cert-manager-cainjector
  newTag: v1.18.3
  digest: sha256:55abd4d5edafa5e6c0e77cfbefbb5068b68fd0b4bc1e983f04e133d1846f23ad
- name: quay.io/jetstack/cert-manager-controller
  newTag: v1.18.3
  digest: sha256:dc9d9cb1f27dcedd9e0c637e288c4dd409cb16865c3563f305f3a130e8a7f78b
- name: quay.io/jetstack/cert-manager-webhook
  newTag: v1.18.3
  digest: sha256:814eef7ecf3cf86e8b43e3cdf68e5266c38156c82012509cb25dac46a9d1f23c
- name: quay.io/jetstack/cert-manager-acmesolver
  newTag: v1.18.3
  digest: sha256:2e786d7384dae4d80fddccebe2f1a7d3162bb27dedb2318ec64dea9b4d19f261
resources:
- configs
- rbac
- workloads
replacements:
- source:
    fieldPath: metadata.namespace
    kind: Deployment
    name: cert-manager-webhook
  targets:
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
    select:
      kind: ValidatingWebhookConfiguration
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
    select:
      kind: MutatingWebhookConfiguration
- source:
    fieldPath: spec.template.spec.containers.[name=webhook].env.[name=SECRET_NAME].value
    kind: Deployment
    name: cert-manager-webhook
  targets:
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
      index: 1
    select:
      kind: ValidatingWebhookConfiguration
  - fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      create: true
      delimiter: /
      index: 1
    select:
      kind: MutatingWebhookConfiguration
