name: Test Modules

on:
  push:
    branches:
    - main
    - "release/**"
    paths:
    - "modules/*/*/base/**"
    - "test/**"
  pull_request:

permissions: {}

concurrency:
  group: ci-tests-${{ github.ref }}
  cancel-in-progress: true # cancels obsolete running jobs

jobs:
  get-changed-modules:
    name: "Build Changed Modules List"
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Calculate file differences
      id: changed-files
      uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
      with:
        dir_names: true
        json: true
        escape_json: false
        dir_names_max_depth: 4
        files: |
          modules/*/*/base/**
          test/**

  test-module:
    name: "Test"
    if: needs.get-changed-modules.outputs.any_changed == 'true'
    needs:
    - get-changed-modules
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        versions:
        - kind: kindest/node:v1.34.3@sha256:08497ee19eace7b4b5348db5c6a1591d7752b164530a36f855cb0f2bdcbadd48
          kubectl: "v1.34.3"
        - kind: kindest/node:v1.35.0@sha256:452d707d4862f52530247495d180205e029056831160e22870e37e3f6c1ac31f
          kubectl: "v1.35.0"
        module: ${{ fromJSON(needs.get-changed-modules.outputs.matrix) }}
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Kustomize Build
      run: |
        mkdir ci
        kustomize build ${{ matrix.module }} > ci/rendered.yaml

    - name: Create k8s Kind Cluster for Cilium
      if: matrix.module == 'modules/cni/cilium/base'
      uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
      with:
        version: v0.31.0
        kubectl_version: "${{ matrix.versions.kubectl }}"
        node_image: "${{ matrix.versions.kind }}"
        config: .github/workflows/kind-configs/no-cni.yaml
        wait: 10s

    - name: Create k8s Kind Cluster
      if: matrix.module != 'modules/cni/cilium/base'
      uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
      with:
        version: v0.31.0
        kubectl_version: "${{ matrix.versions.kubectl }}"
        node_image: "${{ matrix.versions.kind }}"
        config: .github/workflows/kind-configs/default.yaml
        wait: 60s

    - name: Install module
      run: |
        kubectl cluster-info
        CRDS=$(yq eval-all 'select(.kind == "CustomResourceDefinition")' ci/rendered.yaml)
        NON_CRDS=$(yq eval-all 'select(.kind != "CustomResourceDefinition")' ci/rendered.yaml)
        if [ -n "${CRDS}" ] ; then
          echo "Apply CRDs.."
          kubectl create -f - <<< ${CRDS}
          echo "Wait until all CRDs are available.."
          kubectl wait --for condition=established crd $(yq eval-all 'select(.kind == "CustomResourceDefinition") | [ .metadata.name ] | join(" ")' ci/rendered.yaml )
        fi
        echo "Apply other resources.."
        kubectl create -f - <<< ${NON_CRDS}

    - name: Test - Rollout success
      run: |
        AWAITABLES="Deployment StatefulSet DaemonSet"
        for KIND in ${AWAITABLES} ; do
          NAMES=$(yq eval-all "select(.kind == \"${KIND}\") | [ .metadata.name ] | join(\" \")" ci/rendered.yaml)
          for NAME in $NAMES ; do
            kubectl -n $(yq eval-all "select(.kind == \"${KIND}\" and .metadata.name == \"${NAME}\") | .metadata.namespace" ci/rendered.yaml ) rollout status "${KIND}" --timeout 10m "${NAME}"
          done
        done

    - name: Custom test script
      if: startsWith( 'test/', ${{matrix.module}} )
      run: |
        [ ! -x ${{ matrix.module }}/test.sh ] && exit 0
        ${{ matrix.module }}/test.sh
