upgradeCompatibility: "1.17"
iptablesRandomFully: false

cni:
  chainingMode: portmap

envoyConfig:
  secretsNamespace:
    name: kube-system

hubble:
  metrics:
    enabled:
    - dns:query;ignoreAAAA
    - drop
    - tcp
    - flow
    - port-distribution
    - icmp
    - httpV2:exemplars=true;labelsContext=source_ip,source_namespace,source_workload,destination_ip,destination_namespace,destination_workload,traffic_direction
    serviceMonitor:
      enabled: true
  tls:
    auto:
      method: cronJob
  relay:
    enabled: true
    podDisruptionBudget:
      enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
  ui:
    enabled: true
    podDisruptionBudget:
      enabled: true

loadBalancer:
  l7:
    backend: envoy
  protocolDifferentiation:
    enabled: true

prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true

envoy:
  enabled: true
  log:
    format: null
    format_json:
      time: "%Y-%m-%dT%T.%e"
      level: "%l"
      scope: "%n"
      message: "%j"
    defaultLevel: info
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true

sessionAffinity: true

tls:
  readSecretsOnlyFromSecretsNamespace: true
  secretsNamespace:
    create: false
    name: kube-system

operator:
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  podDisruptionBudget:
    enabled: true

agentNotReadyTaintKey: "ignore-taint.cluster-autoscaler.kubernetes.io/cilium-agent-not-ready"
